{% extends "base.html" %}

{% block myjumbotron%}
<div class="mx-auto py-5 col-md-8">
<div class="modal-content rounded-6 shadow">
	<div class="p-5 modal-body">
		<h1 class="col-md-12 fs-1 fw-bold mx-auto">Index the URL shortener</h1>
		<p class="col-md-12 fs-5 mx-auto">
			This is the About Page.
		</p>
		<p class="col-md-12 fs-5 mx-auto">
			Informations about our page will be described here in articles.
		</p>
	</div>
</div>
</div>
{% endblock %}

{% block content %}

{% endblock %}

{% block marticle %}
	<div class="col-md-10 py-5 mx-auto text-start">
		<div class="p-5 bg-light border border-3 rounded-3">
			<h4 class="col-md-12 fs-3 fw-bold">Sign up and break the limits!</h4>
			<p class="col-md-12 fs-5">
				You can use our service for free without an account but there are 2 limitations which you may want to break.
				The shortened links are 6 randomly generated characters that may be hard to remember and they expire in 14 days.
				After that time you need to shorten it again.
			</p>
			<p class="col-md-12 fs-5">
				<a class="text-decoration-none" href="{% url 'exchange:user_register' %}">Sign up!</a>
			</p>
			<p class="col-md-12 fs-5">
				With an account you can create custom links that are valid as long as your account exists.
				Sign up now and use the service we provide without limitations!
			</p>
		</div>
	</div>
{% endblock %}
