{% extends "base.html" %}

{% block content %}

<form class="d-flex py-3" action="{% url 'exchange:transfer_create' %}" method="get">
  {% csrf_token %}
  <button class="btn btn-outline-primary" type="submit">NEW TRANSFER</button>
</form>

<div class="col-md-12 modal-content my-5 px-5">
<div class="table-responsive py-5">
	<table class="table table-borderless text-start">
		<thead class="modal-content">
			<tr class="">

				<th scope="row" class="col-md-2">
					Transfer Date:
				</th>

				<th scope="row" class="col-md-2">
					Valuation Date From:
				</th>

        <th scope="row" class="col-md-2">
					Valuation Date To:
				</th>

        <th scope="row" class="col-md-1">
					Exchange Rate From:
				</th>

        <th scope="row" class="col-md-1">
					Exchange Rate To:
				</th>

        <th scope="row" class="col-md-1">
					Amount From:
				</th>

        <th scope="row" class="col-md-1">
					Amount To:
				</th>

        <th scope="row" class="col-md-1">
					Account From:
				</th>

        <th scope="row" class="col-md-1">
					Account To:
				</th>

			</tr>
		</thead>
		{% for transfer in page_obj %}
		<tbody class="modal-content my-3">
			<tr class="modal-body">

				<th scope="row" class="col-md-2">
					{{ transfer.transfer_date }}
				</th>

				<td scope="row" class="col-md-2">
					{{ transfer.valuation_date_from }}
				</td>

        <td scope="row" class="col-md-2">
					{{ transfer.valuation_date_to }}
				</td>

        <td scope="row" class="col-md-1">
					{{ transfer.exchange_rate_from }}
				</td>

        <td scope="row" class="col-md-1">
					{{ transfer.exchange_rate_to }}
				</td>

        <td scope="row" class="col-md-1">
					{{ transfer.amount_from }}
				</td>

        <td scope="row" class="col-md-1">
					{{ transfer.amount_to }}
				</td>

        <td scope="row" class="col-md-1">
					{{ transfer.account_from }}
				</td>

        <td scope="row" class="col-md-1">
					{{ transfer.account_to }}
				</td>

			</tr>
		</tbody>
		{% endfor %}
	</table>
</div>

{% if page_obj.paginator.num_pages > 1 %}
<div class="col-md-4 mx-auto">
<div class="pagination">
    <span class="step-links mx-auto">
        {% if page_obj.has_previous %}
          <a class="text-decoration-none" href="?page=1">&laquo; 1</a>
					{% if page_obj.previous_page_number > 1 %}
            <a class="text-decoration-none" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
					{% endif %}
        {% endif %}

        <span class="current">
            {{ page_obj.number }}
        </span>

        {% if page_obj.has_next %}
					{% if page_obj.next_page_number < page_obj.paginator.num_pages %}
          <a class="text-decoration-none" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
					{% endif %}
          <a class="text-decoration-none" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }} &raquo;</a>
        {% endif %}
    </span>
</div>
</div>
{% endif %}
</div>

{% endblock %}
