{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}

	{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}

	<form class="col-md-4 mx-auto my-5 py-5" action="{% url 'exchange:user_password' %}" method="post">
		{% csrf_token %}
		{{ form }}

		<input class="my-2 fs-5 form-control border border-primary border-3 rounded-3 btn btn-primary" type="submit" value="Change"/>

	</form>

{% endif %}
{% endblock %}
